#imagem-topo{
    width: 75%;
    display: block;
    margin: auto;
}

h1{
  text-align: center;
}

p{
    text-align: justify;
}

.imagem-tecnologias{
  width: 100%;
}

.conteudo-basico{
  margin-top:
}

.card-title{
  text-align: center;
}
